@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

h1.title {
    color: rgb(0, 0, 0);
    font-family: 'Roboto Slab', serif;
    font-size: 180%;
    text-align: center;
    margin-top: 8px;
    font-weight: bold;
  }

p.about {
    color: rgb(255, 255, 255);
    font-family: 'Roboto Slab', serif;
    width: 90%;
    margin-left: 3%;
    text-justify: inter-word;
    text-align: justify;
}

h3.text {
    color: rgb(255, 255, 255);
    font-size: 120%;
    font-family: 'Roboto Slab', serif;
    text-align: left;
    margin-left: 3%;
    margin-top: 10px;
    font-weight: bold;
  }

dl {
  color: rgb(255, 255, 255);
  font-size: 110%;
  font-family: 'Roboto Slab', serif;
  text-align: left;
  margin-left: 3%;
  margin-top: 10px;
}

ion-card-title.about {
  color: rgb(246, 248, 126);
  font-family: 'Roboto Slab', serif;
  font-size: 160%;
  margin-left: 7px;
  margin-top: 7px;
}

ion-card.text-card {
    height: 532px;
    border-top: 0px solid black;
    border-bottom: 0px solid black;
}

ion-card.improvements-card {
  height: 350px;
  border-top: 0px solid black;
  border-bottom: 0px solid black;
}

ion-card.credits-card {
    height: 135px;
    border-top: 0px solid black;
    border-bottom: 0px solid black;
}
